<li class="chat-item">
    <img class="chat-item__logo" src="{{logo}}" alt="логотип чата">
    <div class="chat-item__group-text">
        <h4 class="chat-item__title">{{title}}</h4>
        <p class="chat-item__text">{{text}}</p>
    </div>
    <div class="chat-item__group-data">
        <p class="chat-item__date">{{time}}</p>
        <span class="chat-item__counter">{{counter}}</span>
    </div>
</li>
