<div class="profile-input">
    <label class="profile-input__label">{{  label  }}</label>
    <input class="profile-input__value" required="{{required}}" type="{{type}}" name="{{name}}" value="{{value}}" placeholder="{{placeholder}}">
</div>
