<div class="input">
    <label class="input__label">{{  label  }}</label>
    <input class="input__item" required="{{required}}" type="{{type}}" name="{{name}}" placeholder="{{placeholder}}">
    <span class="input__error">{{errorText}}</span>
</div>
